<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SEND MOODS</title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@800&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <div class="d-flex flex-column full-screen">
    <nav class="row navbar full-screen sticky">
      <h1 class="text-center navtitle"><a href="/">SENDMOODS</a></h1>
      {{!-- <div>
        <button class="btn btn-primary" type="submit" id="logout-btn" onclick="logoutFormHandler(event)">Log
          Out</button>
      </div> --}}
    </nav>
    <div class="">
      <main class="container container-fluid mt-2">
        <div class="col-auto">
          {{{body}}}
        </div>
      </main>
      <footer class="footer d-flex flex-row justify-content-center">
        <div class="right-corner-container">
          <button class="right-corner-container-button" onclick="location.href='/profile/new'">
            <span class="short-text">+</span>
            <span class="long-text">New Post</span>
          </button>
        </div>
      </footer>
    </div>
  </div>

<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/js/logout.js"></script>
<script>
  $(".right-corner-container-button").hover(function() {
    $(".long-text").addClass("show-long-text");   
}, function () {
    $(".long-text").removeClass("show-long-text");
});
</script>

</body>

</html>