<div class="card input-card mt-4">
  <div class="card-header">
    <h2>Create New Post</h2>
  </div>
  <form class="card-body" id="newpost-form">
    <div class="mb-3">
      <label for="post-title-input" class="form-label">Title</label>
      <input class="form-control" type="text" id="post-title-input">
    </div>
    <div class="mb-3">
      <label for="post-content-input" class="form-label">Content</label>
      <textarea class="form-control" id="post-content-input"></textarea>
    </div>
    <div class="mb-3 emoji-flex">
      {{!-- <button class="btn" onclick="selectEmoji(1)">
        <img src="/assets/emojis/happy.svg" class="filter-grey" width="100px" id="emoji1"/>
      </button>
      <button class="btn" onclick="selectEmoji(2)">
        <img src="/assets/emojis/neutral.svg" class="filter-grey" width="100px" id="emoji2"/>
      </button>
      <button class="btn" onclick="selectEmoji(3)">
        <img src="/assets/emojis/anxious.svg" class="filter-grey" width="100px" id="emoji3"/>
      </button>
      <button class="btn" onclick="selectEmoji(4)">
        <img src="/assets/emojis/angry.svg" class="filter-grey" width="100px" id="emoji4"/>
      </button>
      <button class="btn" onclick="selectEmoji(5)">
        <img src="/assets/emojis/sad.svg" class="filter-grey" width="100px" id="emoji5"/>
      </button> --}}
      <input type="checkbox" id="emoji1" name="emoji1" value="1" class="mood-input">
      <label for="emoji1"> 
        <img src="https://res.cloudinary.com/dnwrm14k9/image/upload/v1672862460/happy_yjgksa.svg" width="100px" id="emoji5"/>
      </label><br>
      <input type="checkbox" id="emoji2" name="emoji2" value="2" class="mood-input">
      <label for="emoji2"> 
        <img src="/assets/emojis/neutral.svg" width="100px" id="emoji5"/>
      </label><br>
      <input type="checkbox" id="emoji3" name="emoji3" value="3" class="mood-input">
      <label for="emoji3"> 
        <img src="/assets/emojis/anxious.svg" width="100px" id="emoji5"/>
      </label><br>
      <input type="checkbox" id="emoji4" name="emoji4" value="4" class="mood-input">
      <label for="emoji4"> 
        <img src="/assets/emojis/angry.svg" width="100px" id="emoji5"/>
      </label><br>
      <input type="checkbox" id="emoji5" name="emoji5" value="5" class="mood-input">
      <label for="emoji5"> 
        <img src="/assets/emojis/sad.svg" width="100px" id="emoji5"/>
      </label><br>
    </div>
    <div class="d-grid gap-2">
      <button class="btn btn-primary" type="submit" id="post-btn" onclick="newPostFormHandler(event)">Create</button>
    </div>
  </form>
</div>

<script src="/js/createPost.js"></script>
