<div class="flex container for aside and posts. side by side">
    <div class="aside for feed page">
        <div class="Drop down menu with emotions/emojis">Pick your mood to filter posts</div>
    </div>
    <div class="flex container for posts. column stack">
        <div class="individual post card pulled from post.handlebars"></div>
        <div class="individual post card pulled from post.handlebars"></div>
        <div class="individual post card pulled from post.handlebars"></div>
        <div class="individual post card pulled from post.handlebars"></div>
    </div>
</div>