<div class="hero-background">
  <div class="opacity-filter">
    <div class="hero-items">
      <h1 class="hero-name">test</h1>
      <p class="hero-text">test</p>
      <a href="/login" class="hero-button">Get Started</a>
    </div>
  </div>
</div>

<section class="app-features row">
  <div class="col-4 p-5">
    <img src="/assets/images/placeholder412x300.png" alt="">
  </div>
  <div class="col-8 p-5">
    <div class="row">
      <h3>Journal Your Moods</h3>
    </div>
    <div class="row mt-3">
      <p>Anytime anywhere, record your moods for the day and get some clarity for your mind and heart...</p>
    </div>
  </div>
</section>

<section class="app-features row">
  <div class="col-8 p-5">
    <div class="row">
      <h3>Relate to Others</h3>
    </div>
    <div class="row mt-3">
      <p>
      You are not alone. Through our search bar and mood filters, find and connect with others who are going through similar moods to yours.
      You can read posts, leave comments to interact, and save posts you like...
    </p>
    </div>
    
  </div>
  <div class="col-4 p-5">
    <img src="/assets/images/placeholder412x300.png" alt="">
  </div>
</section>

<section class="app-features row">
  <div class="col-4 p-5">
    <img src="/assets/images/placeholder412x300.png" alt="">
  </div>
  <div class="col-8 p-5">
    <div class="row">
      <h3>Track Your Moods</h3>
    </div>
    <div class="row mt-3">
      <p>Keep track of your symptoms day-to-day on your profile to recognize triggers and learn ways to better control them...</p>
    </div>
  </div>
</section>