<header class="hero">
  <img src="/assets/images/hero.jpeg" alt="person writing journal with polaroid photos" width="1500px" height="500px">
</header>
<div class="d-flex flex-row justify-content-center">
  <div class="m-5">
    <a class="btn btn-dark btn-lg" href="/login">Log In</a>
  </div>
  <div class="m-5">
    <a class="btn btn-dark btn-lg" href="/login">Sign Up</a>
  </div>
</div>
<section>

</section>