<div class="hero-background">
  <div class="opacity-filter"></div>
    <div class="hero-items">
      <h1 class="hero-name">Mood Social Media App</h1>
      <p class="hero-text">send moods!</p>
      <a href="/login" class="hero-button btn btn-dark">Get Started</a>
    </div>
</div>


<div class="features">
  <div class="row">
  <div>
  </div>
  <div class="features-card">
    <img src="/assets/images/landing1.jpeg" alt="">
    <div class="features-card-container">
      <h3><b>Journal Your Moods</b></h3>
      <p>Anytime anywhere, record your moods for the day and get some clarity for your mind and heart...</p>
    </div>
  </div>
</div>
<div class="row">
  <div>
  </div>
  <div class="features-card">
    <img class="right-image" src="/assets/images/landing2.png" alt="">
    <div class="features-card-container-right">
      <h3><b>Relate To Others</b></h3>
      <p>You are not alone. Through our filter box, find and connect with others who are going through similar moods to yours.
      You can read posts, leave comments to interact, and save posts you like...</p>    
      </div>
  </div>
</div>
<div class="row">
  <div>
  </div>
  <div class="features-card">
    <img src="/assets/images/landing3.jpeg" alt="">
    <div class="features-card-container">
      <h3><b>Track Your Moods</b></h3>
      <p>Anytime anywhere, record your moods for the day and get some clarity for your mind and heart...</p>
    </div>
  </div>
</div>
</div>


{{!-- <section class="app-features row">
  <div class="col-4 p-5">
    <img src="/assets/images/placeholder412x300.png" alt="">
  </div>
  <div class="col-8 p-5">
    <div class="row">
      <h3>Journal Your Moods</h3>
    </div>
    <div class="row mt-3">
      <p>Anytime anywhere, record your moods for the day and get some clarity for your mind and heart...</p>
    </div>
  </div>
</section>

<section class="app-features row">
  <div class="col-8 p-5">
    <div class="row">
      <h3>Relate to Others</h3>
    </div>
    <div class="row mt-3">
      <p>
      You are not alone. Through our filter box, find and connect with others who are going through similar moods to yours.
      You can read posts, leave comments to interact, and save posts you like...
    </p>
    </div>
    
  </div>
  <div class="col-4 p-5">
    <img src="/assets/images/placeholder412x300.png" alt="">
  </div>
</section>

<section class="app-features row">
  <div class="col-4 p-5">
    <img src="/assets/images/placeholder412x300.png" alt="">
  </div>
  <div class="col-8 p-5">
    <div class="row">
      <h3>Track Your Moods</h3>
    </div>
    <div class="row mt-3">
      <p>Keep track of your symptoms day-to-day on your profile to recognize triggers and learn ways to better control them...</p>
    </div>
  </div>
</section> --}}
