<div class="login-background">
  <div class="login-items">
    <form>
      <div class="form-header">
        <h1>Log in</h1>
        <div class="form-title">Username</div>
        <div class="input-bars"><input type="text" id="username-login"></div>
        <div class="form-title">Password</div>
        <div class="input-bars"><input type="text" id="password-login"></div>
        <button id="login-btn" onclick="loginFormHandler(event)">
        login
        </button>
      </div>
    </form>
    <form>
      <div class="form-header">
        <h1>Sign up</h1>
        <div class="form-title">Username</div>
        <div class="input-bars"><input type="text" id="username-signup"></div>
        <div class="form-title">Password</div>
        <div class="input-bars"><input type="text" id="password-signup"></div>
        <button id="signup-btn" onclick="signupFormHandler(event)">
        sign up
        </button>
      </div>
    </form>
  </div>
</div>


<script src="/js/login.js"></script>