    <div alt="flex container for post elements. column stack" class="stack-flex post-polaroid">
        <div alt="flex container for post with lined background. column stack" class="stack-flex post-content">
            <div alt="flex container for profile pic, username, and post title. side by side row." class="side-flex">
                <div alt="profile pic (pulled from?)">Image here</div>
                <div alt="username pulled from sql"> Username here</div>
                <div alt="post title pulled from sql">Post title here</div>
            </div>
            <div alt="post body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, suscipit impedit. Odit facilis veritatis modi explicabo ducimus vitae iusto quis. Ex, mollitia? Asperiores placeat, vel nisi ratione possimus perspiciatis maxime?</div>
        </div>
        <div alt="flex container for emojis associated with this post" class="side-flex">
            <div alt="emoji pulled from sql if checked on post creation">happy</div>
            <div alt="emoji pulled from sql if checked on post creation">neutral</div>
            <div alt="emoji pulled from sql if checked on post creation">anxious</div>
            <div alt="emoji pulled from sql if checked on post creation">angry</div>
            <div alt="emoji pulled from sql if checked on post creation">sad</div>
        </div>
        <div alt="music embed">spotify here</div>
        <div alt="save post button">save post</div>
    </div>
