<div class="flex container for post elements. column stack">
    <div class="flex container for profile pic, username, and post title. side by side row.">
        <div class="profile pic (pulled from?)"></div>
        <div class="username pulled from sql"></div>
        <div class="post title pulled from sql"></div>
    </div>
    <div class="post body"></div>
    <div class="flex container for emojis associated with this post">
        <div class="emoji pulled from sql if checked on post creation"></div>
        <div class="emoji pulled from sql if checked on post creation"></div>
        <div class="emoji pulled from sql if checked on post creation"></div>
        <div class="emoji pulled from sql if checked on post creation"></div>
        <div class="emoji pulled from sql if checked on post creation"></div>
    </div>
    <div class="music embed"></div>
    <div class="save post button"></div>
</div>