<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile Page</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
</head>

<body>

  <header>
    <h1>SENDMOODS</h1>
    <nav>
      <a href="#">Feed</a>
      <a href="#">Saved</a>
      <a href="#">Search</a>
      <a href="#">Logout</a>
    </nav>
  </header>

  <main id="main-section">

    <h2>
      {{Name}}'s Profile Page
    </h2>

    <section class="#utilities">

      <button>Check your mood calendar</button>

      <div class="musicPlayer"></div>

    </section>

    <h3>Song Title</h3>
    <button id="play-button">Play</button>
    <button id="stop-button">Stop</button>
    <audio src="song.mp3" id="audio"></audio>
    </div>


    // Wrap card and date in another div entry //
    <section>
      <div class="entryCard">
        <h3>
          {{date}}
        </h3>
        <div class="card-details">Card details</div>
        <!-- card content goes here -->
    </section>

  </main>


  <script>
    const audio = document.getElementById('audio');
    const playButton = document.getElementById('play-button');
    const stopButton = document.getElementById('stop-button');

    playButton.addEventListener('click', () => {
      audio.play();
    });

    stopButton.addEventListener('click', () => {
      audio.pause();
    });
  </script>

</body>

</html>