<div class="container-fluid">
    <div class="row">
        <div class="">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{posts.user.username}}'s Profile Page</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="container posts-container">
        <h1>My Posts</h1>
        <div class="posts-items">
            {{>post}}
        </div>
    </div>
</div>
