{{!-- views/layout.handlebars --}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Saved Posts</title>
</head>
<body>
  {{> "header" }}
  {{> "main" }}
</body>
</html>

{{!-- views/header.handlebars --}}

<header>
  <nav>
    <a href="/">Home</a>
    <a href="/saved-posts">Saved Posts</a>
  </nav>
</header>


{{!-- views/main.handlebars --}}

<main>
  {{#if currentView}}
    {{> currentView}}
  {{else}}
    Hello World!
  {{/if}}
</main>

{{!-- views/saved-posts.handlebars --}}

<div class="saved-posts-view">
  <h1>Saved Posts</h1>
  <div class="cards-container">
    {{#each savedPosts}}

</div>
{{/each}}
</div>
</div>