<div class="container-fluid">
    <div class="row">
        <div class="">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">SEARCH RESULTS</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="container posts-container">
        <div class="posts-items">
            {{>post}}
        </div>
    </div>
</div>
