/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --primary: #FFFFFF;
  --secondary: #F4E2F8;
  --tertiary: #87798A;
  /* --dark-primary: #55bcc9; */
  --light-dark: #404040;
  --dark: #000000;
  --accent: #D060E4;
  --border-radius: 0.3rem;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary);
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  color: var(--dark);
  line-height: 1.5;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  margin: 0;
  line-height: 1.25;
}

h2 a:visited {
  color: var(--tertiary);
}

h2 a {
  color: var(--primary);
}

/* header {
  margin-top: 40px;
} */

main {
  margin: 20px auto;
  width: 94%;
}

a {
  text-decoration: none;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
}

/* .navbar {
  position: fixed;
  background-color: var(--primary);
  box-shadow: 0px 0.5px var(--tertiary);
} */

/* .app-title {
  background-color: var(--primary);
  text-align: center;
}
.app-title a {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 3rem;
  font-weight: 900;
  color: var(--dark);
} */

/* .button-group {
  margin: -100px 50px 5px 50px;
  opacity: 0.9;
} */

/* .full-screen {
  width: 100%;
} */

/* .app-features {
  background-color: var(--secondary);
} */

/* .app-features:nth-child(odd) {
  background-color: var(--tertiary);
  color: var(--primary);
} */

.login-hero {
  /* background-image: url("/public/assets/images/woodtable.jpeg"); not working cries */
  margin: 0px 100px;
}

/* .login {
  margin-top: -100px;
} */

/* .login-cards {
  margin: -550px 400px 100px 100px;
} */

/* .login {
  margin-left: 200px;
} */

/* .d-flex {
  display: flex !important;
} */

/* .save-icon {
  filter: gray;
  width: 50px;
} */

.filter-grey {
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(1);
  /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1);
}

.navbar {
  margin: 0 auto;
  padding: 5px;
  width: 100%;
  border-bottom: 1px solid gainsboro;
  z-index: 20;
  position: sticky;
}

.nav-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

.nav-title {
  display: flex;
  align-items: center;
  color: black;
  padding-left: 7px;
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 700;
}

.hero-background {
  width: full;
  height: 40em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(https://cdn.shopify.com/s/files/1/0533/2089/files/how-to-generate-leads.jpg?v=1513349248&width=1024);
  background-size: cover;
  background-position: center;
  margin-bottom: 40px;
  border-bottom: 1px solid gainsboro;
}

.opacity-filter {
  background-color: rgb(120 113 108);
  opacity: 55%;
  width: 100%;
  height: 40em;
  position: relative;
  z-index: 0;
}

.hero-items {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
  padding-top: 1em;
}

.hero-name {
  font-size: 50px;
  font-weight: 900;
  color: white;
  padding: 7px;
  text-align: center;
  text-transform: uppercase;
}

.hero-text {
  font-size: 20px;
  font-weight: 900;
  color: white;
  text-transform: lowercase;
  padding-bottom: 4px;
}

.hero-button {
  padding: 15px;
  background-color: black;
  transition: ease-in-out;
  color: white;
  text-transform: uppercase;
}

.hero-button:hover {
  transition-duration: .3s;
  background-color: #333;
  color: white;
}

.logout-button {
  background-color: black;
  transition: ease-in-out;
  color: white;
  padding: 13px 10px 13px 10px;
  text-transform: uppercase;
}

.logout-button:hover {
  transition-duration: .3s;
  background-color: #333;
  color:white;
}

/* start armond's css */
/* flex container classes */

/*flex columns stack 100% width*/
.stack-flex {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
}

/*flex rows side by side */
.side-flex {
  display: flex;
  flex-direction: row;
  flex: 0 0;
}

/* margin and padding default */
.spaced {
  margin: 3%;
  padding: 3%;
}


/* gap default */
.gap {
  gap: 20px;
}

/* post container properties */
.post-polaroid {
  border: 25px solid whitesmoke;
  background-image: url("/public/assets/images/woodtable.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: white; */
  height: 700px;
  width: 500px;
  border-radius: 5px;
  margin: 20px;
  padding: 10px;
}

.post-content {
  /* background-image: url(../assets/images/dottedline.jpeg);
  background-repeat: no-repeat;
  background-size: cover; */
  /* background lined notes */
  /* background-color: white; */
  font-size: 100%;
}

.post-header {
  font-size: 170%;
  font-style: bold;
  flex-wrap: wrap;
}

/* .post-footer {

} */

.post-title {
  flex: 0 0 100%;
  text-align: left;
  padding-bottom: 1em;
}

.post-user {
  color: black;
  font-weight: 700;
  transition: all .3s ease-in-out;
}

.post-user:hover {
  color: rgb(131, 130, 130);
  cursor: grab;
  transform: scale(1.1);
}

.trial {
  background-image: url(../assets/images/dottedline.jpeg);
  flex: 1 1 100%;
  border: .5px black solid;
  border-radius: 5px;
  justify-content: stretch;
}

.edit-icon {
  width: 50px;
  float: right;
  position: relative;
}

.date-created {
  font-size: 20px;
  padding-top: 6.5px;
}

/* end armond's css */

.login-background {
  background-image: url(../assets/images/login2.jpeg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 0;
  filter: grayscale(100%);
  margin: 0 auto;
  width: 60em;
  height: 45em;
}


.login-items {
  inset: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  z-index: 10;
}

.form-header {
  padding-left: 8em;
  padding-right: 8em;
}

.emoji-flex {
  display: flex;
  flex-direction: row;
}

.posts-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-title {
  text-align: center;
}

.card-body {
  margin: 0 auto;
  width: 100%;
}

.card {
  margin: 0 auto;
}

.nav {
  height: 50px;
  width: 100%;
  background-color: white;
  position: relative;
  z-index: 20;
  padding-top: 10px;
  padding-bottom: 60px;
  padding-left: 8px;
  padding-right: 8px;
  border-bottom: 1px solid gainsboro;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  font-weight: 700;
  color: black;;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: black;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid black;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: white;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

.features-card {
  border: 1px solid gainsboro;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1em;
}

.features-card-right {
  border: 1px solid gainsboro;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 1em;
}

.features-card-container {
  padding: 2px 16px; 
  float: right;
}

.features-card-container-right {
  padding: 2px 16px;
  float: left;
}

.features-card > img {
  width: 300px;
  height: 300px;
  display: block;
  margin: auto;
  margin: 10px;
  border: 1px solid gainsboro;
}

.features-card-right > img {
  width: 300px;
  height: 300px;
  display: block;
  margin: auto;
  margin: 10px;
  border: 1px solid gainsboro;
}

.right-image {
  float: right;
}

.navtitle a {
  color:black;
  transition: all .3s ease-in-out;
  display: inline-block;
}

.navtitle a:hover {
  color: rgb(98, 98, 98);
  transform: scale(1.1);
}

.save-icon {
  width: 30px;
  cursor: grab;
}

.emojimark {
  display: flex;
  flex-direction: row;
}

.footer a {
  padding-bottom: 3em;;
  color: black;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  transition: all .3s ease-in-out;
}

.footer a:hover {
  color:rgb(98, 98, 98);
  transform: scale(1.1);
}

.save-btn {
  transition: all .3s ease-in-out;
  cursor: grab;
}

.save-btn:hover {
  transform: scale(1.4);
  cursor: grab;
}

.post-content {
  max-width: 600px;
  height: 85%;
  
}
.spotify-container {
  width: 90%;
  height: 30px;
  max-height: 30px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
}

.edit-delete {
 padding-top: 12px;
 float: right;
}

.edit-icon {
  width: 30px;
  height: 30px;
}

.btn {
  padding-left: 5px;
  padding-right: 5px;;
}

.edit-btn {
  transition: all .3s ease-in-out;
  cursor: grab;
}

.edit-btn:hover {
  transform: scale(1.4);
  cursor: grab;
}

.filter-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.right-corner-container {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.right-corner-container-button {
  height: 62px;
  width: 62px;
  border: none;
  background-color: black;
  border-radius: 62px;
  transition: all 300ms;
  box-shadow: 2px 2px 5px gray;
  cursor: pointer;
}

.right-corner-container-button span {
  font-size: 72px;
  color: white;
  position: absolute;
  left: 10px;
  top: 16px;
  line-height: 28px;
}

.right-corner-container-button:hover {
  transition: all 400ms cubic-bezier(.62, .1, .5, 1);
  width: 200px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.right-corner-container-button .long-text {
  transition: opacity 1000ms;
  opacity: 0;
  color: white;
  white-space: nowrap;
  font-size: 0;
  width: 0;
  margin: 0;
}

.right-corner-container-button .long-text.show-long-text {
  transition: opacity 700ms, width 1ms linear 270ms, font-size 1ms linear 270ms;
  opacity: 1;
  margin-top: 2px;
  margin-left: 65px;
  font-size: 20px;
  width: auto;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
}